<link rel="stylesheet" href="../css/style.css">
<div class="footer">
	<div class="footer_ht">
			<div class="tt">
		<ul>
			<li style="font-weight: bold; color: #FF9933; font-size: 16px">LIÊN KẾT</li>
			<br>
			<li><a href="gioi-thieu.html">Giới Thiệu </a></li>
			<br>
			<li><a href="lien-he.html">Liên Hệ </a></li>
			<br>
			<li><a href="ban-do.html">Bản Đồ </a></li>
		</ul>
	</div>
		<div class="tt">
			<ul>
				<li style="font-weight:bold; color: #FF9933; font-size: 16px">HỖ TRỢ KHÁCH HÀNG</li>
				<br/>
				<li><strong>Địa chỉ:</strong> Trường Đại học Công Nghệ Thông tin </li>
				<br/>
				<li><strong>Tel:</strong> 0362569029 </li>
				<br/>
				<li><strong>Hotline:</strong> 0362569029 </li>
				<br/>
				<li><strong>Email:</strong>  18520596@gm.uit.edu.vn </li>
				<br/>
				<li><a href="#"><strong>Website:</strong> www.thaothoitrang.com.vn</a></li>
			</ul>
		</div>
		<div class="tt">
			<ul>
				<li style="font-weight:bold; color: #FF9933; font-size: 16px">THÔNG TIN SHOP THỂ THAO</li>
				<br/>
				<li><a href="#">Tin tuyển dụng</a></li>
				<br/>
				<li><a href="#">Thông tin khuyến mại</a></li>
				<br/>
				<li><a href="#">Sơ đồ web</a></li>
				<br/>
				<li><a href="#">Thông tin về shop</a></li>
			</ul>
		</div>
		
				<div class="tt">
			<ul>
				<li style="font-weight:bold; color: #FF9933; font-size: 16px; padding-left: 60px; padding-bottom: 30px">FANPAGE</li>
				<br/>
				<li style="float: left;width: 50px"><a href="https://www.facebook.com/thu.nguyet.1232" target="_blank"><img style="width: 50px" src="..\images/images_html/fb.png"></a></li>
				
				<li style="float: left; width: 50px; padding-left: 20px"><a href="https://www.instagram.com/thu.nguyet.1232/" target="_blank"><img style="width: 50px" src="..\images/images_html/ins.png"></a></li>
				
				<li style="float: left;width: 50px;padding-left: 20px"><a href="https://chat.zalo.me/" target="_blank"><img style="width: 50px" src="..\images\images_html\zalo.png"></a></li>
			</ul>
			</div>
	</div>
	<div class="copyright">
		<p style="padding-top: 20px">Copyright © 2020 NDN </p>
	</div>       		
</div>
