<div class="left" style="display: inline;">
    <div class="spbc">
        <h1>DANH MỤC SẢN PHẨM</h1>
    </div> <!-- Danh mục sản phẩm cột left  -->
    <div class="menu_pk">
        <div class="pk" align="center">
            <ul>
                <!--Thời Trang nữ  -->
                <li style="margin-top:15px;">
                    <a href="index.php?controller=list_sp&id_nhomsp=1">
                        THỜI TRANG NỮ </a>
                    <div class="line"></div>

                    <ul class="dm">
                        <li>
                            <a href="-AO-1.html"><span>
                                    ÁO</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-QUAN-VAY-33.html"><span>
                                    QUẦN, VÁY</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-GIAY-34.html"><span>
                                    GIÀY</span></a>
                        </li>

                        <div class="line1"></div>
                    </ul>
                    <a href="index.php?controller=list_sp&id_nhomsp=2">
                        PHỤ KIỆN NỮ </a>
                    <div class="line"></div>

                    <ul class="dm">
                        <li>
                            <a href="-NON-7.html"><span>
                                    NÓN</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-BALO-TUI-11.html"><span>
                                    BALO, TÚI</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-KHAC-12.html"><span>
                                    KHÁC</span></a>
                        </li>

                        <div class="line1"></div>
                    </ul>
                    <a href="index.php?controller=list_sp&id_nhomsp=4">
                        THỜI TRANG NAM </a>
                    <div class="line"></div>

                    <ul class="dm">
                        <li>
                            <a href="-AO-19.html"><span>
                                    ÁO</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-QUAN-20.html"><span>
                                    QUẦN</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-GIAY-21.html"><span>
                                    GIÀY</span></a>
                        </li>

                        <div class="line1"></div>
                    </ul>
                    <a href="index.php?controller=list_sp&id_nhomsp=5">
                        PHỤ KIỆN NAM </a>
                    <div class="line"></div>

                    <ul class="dm">
                        <li>
                            <a href="-NON-23.html"><span>
                                    NÓN</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-BALO-CAP-24.html"><span>
                                    BALO, CẶP</span></a>
                        </li>

                        <div class="line1"></div>
                        <li>
                            <a href="-KHAC-25.html"><span>
                                    KHÁC</span></a>
                        </li>

                        <div class="line1"></div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>