<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script><script type="text/javascript">
    $(function() {
        $('.neoslideshow img:gt(0)').hide();
        setInterval(function(){
          $('.neoslideshow :first-child').fadeOut()
             .next('img').fadeIn()
             .end().appendTo('.neoslideshow');}, 
          3000);
    })
    </script>
    
    <style type="text/css">
        .neoslideshow {position:relative; width:1366px; height:500px;}
    .neoslideshow img {position:absolute;left:0; top:50;}
    </style>
   
     
    <div class="neoslideshow container mb-4 mt-0 column-3" style="position: relative; left: -15px">
    
      <img class="container" src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-dang-cap-hien-dai_113856116.png" width="" height="500" />
      <img class="container" src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-cong-so_113855991.jpg" width="" height="500" />
      <img class="container" src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-dang-hien-dai-nhat_113856210.jpg" width="" height="500" />
    
      
    </div>