{{>left}}
<style type="text/css">
#form-wrapper
{ 
    margin-left: 400px;
    width: 700px;
    height:370px;
    padding: 20px;    
    position: relative;
    border: 1px solid #0000; 
    
    background-color: #fff;
}
#form-wrapper1
{ 
    width: 700px;
    height: 370px;
    padding: 20px;    
    position: relative;
    border: 1px solid #0000; 
    border-color: #f93;
    background-color: #fff;
}
#form-wrapper:before, #form-wrapper:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;  

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}


#form-wrapper form
{
    background: #fff;
    height: 270px;
}

#form-wrapper #form-inner
{
    margin: 0 auto;
    padding: 35px ;
    width: 545px;
}
    
#form-wrapper label
{
    font: bold 18px/25px Corbel, Arial, Helvetica; 
    
    float: left; 
    margin-right: 10px; 
    width: 120px; 
}

#form-wrapper .input
{
    font: 15px Arial, Helvetica; 
    padding: 5px;
    margin: 0 0 20px 0;
    border: 1px solid #b9bdc1; 
    width: 400px; 
    color: #000000;   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
}

#form-wrapper .input:focus
{
    background-color: #E7E8E7;
    outline: 0;
}

#form-wrapper .textarea
{
    height:150px;   
}

#form-wrapper .button
{
    float: right;
    margin: 10px 0 0 0;
    padding: 7px 15px;
    cursor: pointer;   
    color: #fff;
    font: bold 13px Tahoma, Verdana, Arial;
    text-transform: uppercase;
    overflow: visible; /* IE6/7 fix */
    border: 0;      

    background-color: #f93;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    
}

#form-wrapper .button:hover
{
    background-color: #F7AE3F;
    
}

#form-wrapper .button:active
{
    background: #f93;
    position: relative;
    top: 2px;
    
}
	
	#h1{
    text-align: center;
	padding: 10px;
	margin: 0px auto;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	color: #F93;
}
</style>
<div id="form-wrapper">
    <div id="form-wrapper1" style="margin-top: 125px;">
        <h1 id="h1">ĐỔI MẬT KHẨU</h1>
			<div class="form-inner" style="margin-top: 30px;">
				<form method="post" action="">
					<label for="mk">Mật khẩu cũ:</label>
            		<input type="password" class="input" name="old_password" required>	

            		<label for="mk">Mật khẩu mới:</label>
            		<input type="password" class="input" name="password" required>

            		<label for="mk">Nhập lại mật khẩu:</label>
            		<input type="password" class="input" name="password1" required>

					<input class="button" type="submit" required  value="Đổi mật khẩu" name="doimk">

				</form>
			</div>
	</div>
</div>
{{!-- <form method="post" action="">
	<table cellpadding="20" cellspacing="20">
		<tr>
			<td class="mk">MẬT KHẨU CŨ :</td>
			<td><input type="password" required name="old_password" ></td>
		</tr>
		<tr>
			<td class="mk">MẬT KHẨU MỚI:</td>
			<td><input type="password" required name="password" ></td>
		</tr>
		<tr>
			<td class="mk">NHẬP LẠI MẬT KHẨU MỚI:</td>
			<td><input type="password" required name="password1" ></td>
		</tr>
		
		<tr>
			<TD></TD>
			<td><input class="btn" type="submit" required  value="ĐỔI MẬT KHẨU" name="doimk"></td>
		</tr>
	</table>
</form>
</fieldset> --}}