
<style type="text/css">

   a:hover{
        text-decoration: none;
    }
 a:hover i{
    color:rgb(122, 121, 121);
}
    th, td {
  padding: 5px 15px;

}
th{
    color: #8a8787;
    font-weight: 400;
}
tr, table{
    width: 100%;
}
td p{
    padding: 5px;
      display: inline-block;
}
.cartsum{
    border: none;
    text-align: end;
    padding-right: 5px;
    width: 80%;
    font-weight: 500;
}
input{
    width: 100%;
}
input, textarea{
    width: 100%;
    border: 1.5px solid #bbbbbb;
    padding: 5px;
}
label{
    font-weight: bolder;
    margin-top: 15px;
}
</style>

<title>Liên hệ</title>

<div class="container" style="padding-top: 125px; height: 2200px;">
    <div style="position: relative; z-index: 1">
        <div style="position: absolute; top: 200px; left : 400px; padding: 30px; background-color: rgba(0,0,0,0.7);">
            <p style="color: #ff9933; font-size: 50px; font-weight: 700;">SPORT.VN</p>
            <p style="color:white; font-size: 21px; font-weight:600">Hãy liên hệ với chúng tôi</p>
        </div>
        <img src="https://sport1970s.com/wp-content/uploads/2021/04/contact-page-for-flatsome-wordpress-theme-pointed-hero.jpg" alt="" width="1110" height="600">
        <div class="d-flex justify-content-around" style="position: relative; top:-100px; height: 220px;">
            <div class="d-flex flex-column align-items-center" style="width: 500px; height: 325px; background-color: white;" >
                <p class="mt-5"><img src="https://sport1970s.com/wp-content/uploads/2021/04/contact-page-for-flatsome-wordpress-theme-pointed-icon-phone-300x300.png" width="60px"></p>
                <p style="font-size: 22px; font-weight: 500;">Gọi cho chúng tôi</p>
                <p>Hãy gọi ngay khi bạn cần được tư vấn.</p>
                <p style="font-size: 22px; font-weight: 500; background-color: black; color: white; padding:5px 10px">0123456789</p>
            </div>
            <div class="d-flex flex-column align-items-center" style="width: 500px; height: 325px; background-color: white;" >
                <p class="mt-5"><img src="https://sport1970s.com/wp-content/uploads/2021/04/contact-page-for-flatsome-wordpress-theme-pointed-icon-chat-300x300.png" width="60px"></p>
                <p style="font-size: 22px; font-weight: 500;">Hỗ trợ</p>
                <p>Đừng ngần ngại khi cần hỗ trợ trợ từ chúng tôi.</p>
                <a href="#lienhe"><p style="font-size: 22px; font-weight: 500; background-color: black; color: white; padding:5px 10px">LIÊN HỆ</p></a>
            </div>
        </div>
    </div>
    <div style="background-color: #f4f4f4; position: relative; top: -350px; z-index: 0; padding: 50px 0">
        <p style="padding-top: 330px;"></p>
        <div id="lienhe" style="background-color: white; width: 94%; margin: 0 auto; padding: 40px 200px">
            <form method="post" action="/contact/sendContact" >
            <p style="text-align: center; color:#8a8787">Nếu bạn có thắc mắc</p>
            <h3 style="text-align: center; color:rgb(88, 87, 87)">LIÊN HỆ VỚI CHÚNG TÔI</h3>           
            <div >
                <label for="name">Họ, tên:</label>
                <input type="text" name="name" >
            </div>
            <div >
                <label for="email">Email:</label>
                <input type="email" value="" name="email" >
            </div>
            <div>
                <label for="title">Tiêu đề:</label>
                <input type="text " value="" name="title" >
            </div>
            <div>
                <label for="sdt">Số điện thoại:</label>
                <input type="text"  name="sdt">
            </div>
            <div>
                <label for="message">Lời nhắn:</label>
                <textarea  name="message" rows="5" ></textarea>  
            </div>
                <input type="submit" class="button" value="Gửi" style="width: 100px; color:white; font-weight: 600; background-color: #ff9933;">
            
        </form>
        </div>
    
    </div>

    <div style="background-color: #f4f4f4; position: relative; top: -400px; z-index: 0; padding: 50px 0">  
        
        <div class="d-flex justify-content-between align-items-end" style="background-color: white; width: 94%; margin: 0 auto; padding: 40px 40px">
            <div>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fiyrpSGapNn8IbAZi33FpMSjfL3o9w-W" width="600" height="400"></iframe>
            </div>
            <div class="pb-2">
                <p style="font-size: 22px; font-weight: 500;">Vị trí</p>
                <p style=" color: #747272;">Khu phố 6, phường Linh Trung, quận Thủ Đức</p>
                <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+C%C3%B4ng+ngh%E1%BB%87+Th%C3%B4ng+tin+%C4%90HQG+TP.HCM/@10.8698064,106.8033065,19z/data=!4m12!1m6!3m5!1s0x317527587e9ad5bf:0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRyBUUC5IQ00!8m2!3d10.8699184!4d106.8038081!3m4!1s0x317527587e9ad5bf:0xafa66f9c8be3c91!8m2!3d10.8699184!4d106.8038081?hl=vi-VN" style="color: white; background-color: #ff9933; padding: 5px 40px;" target="_blank">Tìm trên bản đồ <span><i class="fas fa-search-location"></i></span></a>
            </div>
        </div>
    </div>
</div>
    </div>
</div>




