<style type="text/css">
  .form {

    box-sizing: border-box;

    width: 360px;



    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);

    padding-bottom: 40px;

    border-radius: 3px;

  }

  .form h1 {

    box-sizing: border-box;

    padding: 20px;

  }



  .input {

    margin: 40px 25px;

    width: 200px;

    display: block;

    border: none;

    padding: 10px 0;

    border-bottom: solid 1px #f93;

    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f93 4%);

    background-position: -200px 0;

    background-size: 200px 100%;

    background-repeat: no-repeat;

    color: #0e6252;

  }

  input:focus,
  input:valid {

    box-shadow: none;

    outline: none;

    background-position: 0 0;

  }

  .input:focus::-webkit-input-placeholder,
  input:valid::-webkit-input-placeholder {

    color: #f93;

    font-size: 11px;

    transform: translateY(-20px);

    visibility: visible !important;

  }



  .submit {

    border: none;

    background: #f93;

    cursor: pointer;

    border-radius: 3px;

    padding: 6px;

    width: 200px;

    color: white;

    margin-left: 25px;

    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

  }

  .submit:hover {

    transform: translateY(-3px);

    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);

  }

  .span1 {
    color: red;

    font-size: 12px;

  }
</style>
<div style="height:150px;"></div>
{{>left}}

<div align="center">
  <form class="form" method="post" action="/register">

    <h1 style="background: #f93">ĐĂNG KÝ</h1>
    <div style="width:260px ;margin:0px auto">
      <input class="input" name="fullname" placeholder="Họ tên" type="text" required="" id="fullname">
      <span class="span1" id="fullname1"></span>
      <input class="input username" name="username" placeholder="Tên đăng nhập" type="text" required="" id="username">
      <span class="span1" id="username1"></span>
      <input class="input" name="password" placeholder="Password" type="password" required="" id="password">
      <span class="span1" id="password1"></span>
      <input class="input" name="password2" placeholder="Nhập lại Password" type="password" required="" id="password2">
      <span class="span1" id="password3"></span>
      <input class="input" name="sdt" placeholder="Số điện thoại" type="text" required="" id="sdt">
      <span class="span1" id="sdt"></span>
      <input class="input" name="email" placeholder="Email" type="email" required="" id="email">
      <span class="span1" id="email"></span>
      <input class="input" name="diachi" placeholder="Địa chỉ" type="text" required="" id="diachi">
      <span class="span1" id="diachi"></span>
      {{!-- <input type="submit" onclick="return checkform();" class="submit" value="Submit"></button> --}}
      <button class="submit">Submit</button>
      {{#if message}}
      <p>{{message}}</p>
      {{/if}}
    </div>


  </form>
</div>