{{>left}}
<style type="text/css">
	.khachhang{width: 700px;margin-left: 400px ;}
    .khachhang1{width: 700px;margin-left: 400px ;margin-top: 100px;}
	
.chaouser1{
	text-align: center;
	padding: 10px;
	margin: 0px auto;
	font-size: 17px;
	line-height: 24px;
}
.chaouser{
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 0px auto;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	color: #F93
}
tr{
	height: 30px;
}	


</style>
<div class="khachhang">
	<div class="chaouser">LỊCH SỬ MUA HÀNG</div>
	<br>
	<table cellpadding="15" cellspacing="15" border="1" style="border-collapse: collapse; color:#000000;
	border-color:#BEBEBE" >
		<div class="chaouser" style="margin-top: 70px;margin-bottom:50px;">LỊCH SỬ MUA HÀNG</div>
		<tr>
			<th style="width:100px; text-align:center; font-size: 16px">STT</th>
			<th style="width:250px; text-align:center">ID ĐƠN HÀNG</th>
			<th style="width:250px; text-align:center">NGÀY ĐẶT</th>
			<th style="width:100px; text-align:center">XEM</th>
		</tr>	
			<tr style="height: 50px;">
				<td style="text-align:center">1</td>
				<td style="text-align:center">2</td>
				<td style="text-align:center">3</td>
				<td style="text-align:center">4</a></td>

			</tr>
	</table>

</div>