{{>slide}}
{{>left}}

<script type="text/javascript">
  (function ($) {
    $(function () {
      $(".slideshow").simplyScroll({
        orientation: 'vertical',
        customClass: 'vert'
      });
    });
  })(jQuery);
</script>


<!-- giao diện center -->
<div class="center">
  <div class="phukien" align="center">
    <!-- Box thời trang nổi bật -->
    <div class="spnoibat"><a href="#">
        <p
          style="color:#000000; text-align:left; line-height:30px; font-weight:bold; padding-left:10px;font-size: 16px">
          SẢN PHẨM HOT</p>
      </a></div>

    <div class="box_spnb"><a href=""><img src="../images/images_sp/tech-fleece-joggers-h1ntxv.jpg"
          style=" width:288px; height:360px;">
        <p style="text-align:center; margin-top:5px;height:20px"></p>
      </a>
      <br />
      <p style="color:#CC0000; text-align:center">Giá:<span style="font-weight:bold">2,499,000VND</span></p>
      <div class="dathang"><a href="">
          <p style="color:#FFF;">Thêm Vào Giỏ Hàng</p>
        </a></div>
      <br>
    </div>
    <div class="box_spnb"><a href=""><img src="../images/images_sp/ambush-jacket-Sm3NKC.jpg"
          style=" width:288px; height:360px;">
        <p style="text-align:center; margin-top:5px;height:20px"></p>
      </a>
      <br />
      <p style="color:#CC0000; text-align:center">Giá:<span style="font-weight:bold">9,198,000VND</span></p>
      <div class="dathang"><a href="">
          <p style="color:#FFF;">Thêm Vào Giỏ Hàng</p>
        </a></div>
      <br>
    </div>
  </div>
  <!-- Sản phẩm bán chạy -->
  <div class="phukien">
    <div class="spnoibat"><a href="#">
        <p style="color:#000000; text-align:left; line-height:30px; font-weight:bold; padding-left:10px;">SẢN PHẨM MỚI
          NHẤT</p>
      </a></div>

    <div class="box_spnb"><a href=""><img src="../images/images_sp/premier-league-strike-football-Zb1ZJ7.jpg"
          style=" width:288px;; height:360px;">
        <p style="text-align:center; margin-top:5px;height:20px"></p>
      </a>
      <br />
      <p style="color:#CC0000; text-align:center">Giá:<span style="font-weight:bold">709,000VND</span></p>
      <div class="dathang"><a href=">">
          <p style="color:#FFF; font-weight:bold">Thêm Vào Giỏ Hàng</p>
        </a></div>
      <br>
    </div>
    <div class="box_spnb"><a href=""><img src="../images/images_sp/532ml-hyperfuel-water-bottle-W1cP9P.jpg"
          style=" width:288px;; height:360px;">
        <p style="text-align:center; margin-top:5px;height:20px"></p>
      </a>
      <br />
      <p style="color:#CC0000; text-align:center">Giá:<span style="font-weight:bold">309,000VND</span></p>
      <div class="dathang"><a href=">">
          <p style="color:#FFF; font-weight:bold">Thêm Vào Giỏ Hàng</p>
        </a></div>
      <br>
    </div>

  </div>
  <!-- Sản phẩm khuyến mãi -->
  <div class="phukien">
    <div class="spnoibat"><a href="#">
        <p style="color:#000; text-align:left; line-height:30px; font-weight:bold; padding-left:10px;"> SẢN PHẨM KHUYẾN
          MÃI </p>
      </a></div>

    <div class="box_spnb"><a href=""><img src="../images/images_sp/brasilia-training-duffel-bag-RcF1FP.jpg"
          style="width:280px; height:320px;">
        <p style="text-align:center; margin-top:5px;height:20px"></p>
      </a>
      <br />
      <p style="color:#CC0000; text-align:center">Giá:<span style="font-weight:bold">1,019,000VND</span></p>
      <div class="dathang"><a href="">
          <p style="color:#FFF; font-weight:bold">Thêm Vào Giỏ Hàng</p>
        </a></div>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="box_spnb"><a href=""><img src="../images/images_sp/brasilia-training-backpack-5ptm3R.jpg"
          style="width:280px; height:320px;">
        <p style="text-align:center; margin-top:5px;height:20px"></p>
      </a>
      <br />
      <p style="color:#CC0000; text-align:center">Giá:<span style="font-weight:bold">1,149,000VND</span></p>
      <div class="dathang"><a href="">
          <p style="color:#FFF; font-weight:bold">Thêm Vào Giỏ Hàng</p>
        </a></div>
      <br>
      <br>
      <br>
      <br>
    </div>


  </div>


</div>
<!-- The End Center -->


<div class="right">
  <!-- Sản Phẩm bán chạy -->
  <div class="spbc">
    <h1>SẢN PHẨM BÁN CHẠY</h1>
  </div>
  <!-- slide show sản phẩm bán chạy -->

  <div class="slideshow" align="center">

    <div class="box"><a href=""><img src="../images/images_sp/ambush-jacket-Sm3NKC.jpg"
          style="width:216px;height:270px;"></a>
      <br />
      <br />
      <p style="text-align:center;font-weight:bold"></p><br />
      <p style="text-align:center;color:#CC0000">VND</p>
    </div>
    <div class="line1"></div>

  </div>

  <!-- query cho tin tức mới -->

  <div class="spbc">
    <h1>TIN TỨC MỚI</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="../js/jquery.vticker.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.show').vTicker({
        speed: 500,
        pause: 3000,
        animation: 'fade',
        mousePause: true,
        showItems: 3
      });
    });
  </script>

  <div class="show">
    <ul>

      <li>
        <div class="anh_tin">
          <img src="../images/images_sp/ambush-jacket-Sm3NKC.jpg" height="80px;" width="80px">
          <a href=""></a>
        </div>
      </li>

    </ul>
  </div>
  <div style="padding-top: 300px; padding-bottom: 20px">
    <div class="spbc">
      <h1>QUẢNG CÁO</h1>
    </div>
    <div class="box_qc" style="float:left; margin-top:10px;"><a
        href="https://kenh14.vn/nike-chinh-thuc-cong-bo-thiet-ke-peaceminusone-x-af1-cua-g-dragon-para-noise-20-20201107092422125.chn"><img
          src="../images/img_qc/qc.png" height="250" width="250"></a></div>
    <div class="box_qc" style="float:left; margin-top:10px;"><a
        href="https://kenh14.vn/sau-26-nam-troi-adidas-vua-hoi-sinh-lai-doi-giay-huyen-thoai-da-tung-thay-doi-ca-the-gioi-thoi-trang-20170301112441518.chn"><img
          src="../images/img_qc/qc1.jpg" height="250" width="250"></a></div>
  </div>

</div>





<form action="/register" method="POST">
  <label for="username">username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="fullname">fullname:</label><br>
  <input type="text" id="fullname" name="fullname"><br>
  <label for="diachi">diachi:</label><br>
  <input type="text" id="diachi" name="diachi"><br>
  <label for="sdt">sdt:</label><br>
  <input type="text" id="sdt" name="sdt"><br>
  <input type="submit">    
</form>


<form action="/login" method="POST">
  <label for="username">username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password"><br>
  <input type="submit"> 
</form>

{{renderUserName user user2}}
{{renderUserEmail user}}
{{renderUserSDT user}}
{{renderUserDiaChi user}}
