<style type="text/css">
	.p{width: 1200px; text-align: left; line-height: 2; padding-left: 100px;}
	.p1{font-size: 24px;color: #FF9933; text-align: center; font-weight: bold;}
</style>
<div class="p">
<p class="p1"><?php #?></p><br> <!-- xuất ra tiêu đề -->
<?php #?></div> <!-- xuất ra nội dung --> 
