{{>left}}
<style type="text/css">
.khachhang{
	width: 700px;
	margin-left: 250px ;
}

.chaouser{
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 0px auto;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	color: #F93;
}
	


</style>
<div class="khachhang" align="center">
	<div class="chaouser">THÔNG TIN TÀI KHOẢN</div><hr>
	<div style="height: 475px">
	<table style="margin-left:20px;" cellpadding="20" cellspacing="20" >
		<tr>
			<td><b>Tên đăng nhập: </b>{{authUser.userName}}</td>
			<td style="padding-left:100px;"></td>
		</tr>
		<tr>
			<td ><b>Tên khách hàng:</b> {{authUser.fullname}}</td>
			<td style="padding-left:100px;"></td>
		</tr>
		<tr>
			<td ><b>Địa chỉ khách hàng:</b> {{authUser.diachi}}</td>
			<td style="padding-left:100px;"></td>
		</tr>
		<tr>
			<td ><b>Số điện thoại khách hàng:</b>{{authUser.email}}</td>
			<td style="padding-left:100px;"></td>
		</tr>
		<tr>
			<td><b>Email khách hàng:</b></td>
			<td style="padding-left:100px;"></td>
		
	</table>
	
</div>
<hr>
</div>