<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style type="text/css">
.t{
	font-size: 18px;
	text-align:center;
	color: #FF9933;
}

.anh{
	float: left;
	width: 400px;
	margin-left: 10px
}

.chitiet{
	float: left;
	padding-left: 100px;
	width: 450px;
}

.luu_y{
	padding: 0px;
}

.muahang{
	border: 1px solid #f93;
	height: 40px;
	text-align: center;
	border-radius: 2px;
	width: 200px;
	float: right;
	background-color: #FF9933;
}
.muahang a:hover
	{
		background-color: #FFFFFF;
		color: #000000;
	}
.thongtinsp{
	margin-top: 20px;
	line-height: 1.7;
}

.box1{
	width: 960px;
	padding-top: 0px;
	padding-left: 340px;
}

.box2{
	padding-top: 630px;
	width: 1200px;
	height: auto;
	padding-left: 100px;
}
</style>


<div class="box1">
	<div class="sp" style="width: 930px"><p style="color:#FF9933; text-align:left; line-height:30px; font-weight:bold; padding-left:10px;">CHI TIẾT SẢN PHẨM</p>
</div>
	<div class="chitietsp" style="padding-top: 70px">
<div class="anh">
	<img src="" style="width:432px; height: 540px">
</div>

<div class="chitiet">
	<p style="font-size:20px;font-weight: bold;">Tên sản phẩm</p>
	<br>
	<hr>
	<br>
	<p style="color:#EE0000;font-size:18px">GIÁ: 100000000VND</p><br>
	
	<div class="thongtinsp">
		<fieldset style="width:430px;padding-left: 10px">
			<legend class="t">MÔ TẢ</legend>
			<form method="post" action="">
				<table cellpadding="20" cellspacing="20" style="line-height: 20px">
					<p>Mô tả sản phẩm</p><br>
				</table>
			</form>
		</fieldset>
	</div>
<br>
	<div class="luu_y">
		<fieldset style="width:430px;padding-left: 10px; height: 90px; line-height: 20px">
			<legend class="t">LƯU Ý</legend>
				Sản phẩm thật có thể chênh lệch màu sắc khoảng 10% so với hình ảnh trên deal do sự khác nhau về độ phân giải của từng loại màn hình.
		</fieldset>
	</div>
<br>
	<p style="font-size:15px; "><img style="width: 20px; height: 20px; float: left" src="images/images_html/mpvc.png" alt="freeship">&nbsp;Miễn phí vận chuyển</p>
	<br>
	<p style="font-size:15px; "><img style="width: 20px; height: 20px; float: left" src="images/images_html/giatot.png" alt="freeship">&nbsp;Giá tốt nhất thị trường</p>
	<br>
	<p style="font-size:15px; "><img style="width: 20px; height: 20px; float: left" src="images/images_html/bh.png" alt="freeship">&nbsp;Chính sách bảo hành uy tín</p>
	<br>
	<br>

	<div class="muahang">
		 <a href="index.php?controller=cart&act=add&id_sanpham=<?php echo $arr_chitiet["id_sanpham"]; ?>"><p align="center" style="color:#FFFFFF; padding: 10px; font-weight: bold">Thêm vào giỏ hàng</p></a>
	</div>
	<br>
</div>
<br>
</div>
</div>
</div>
<div class="box2">
	<div class="sp" style="width: 930px"><p style="color:#FF9933; text-align:left; line-height:30px; font-weight:bold; padding-left:10px;">
	SẢN PHẨM LIÊN QUAN 
</p></div>
	<!--<?php 
		foreach ($arr_sp as $value) {
		
	 ?>-->
	<div style="padding-left: 210px">
		<div class="box_sp"><a href=""><img src="" style=" width:173px; height:216px;"><p style="text-align:center;padding-top: 10px;padding-right: 30px; height:15px"><?php echo $value["ten_sanpham"]; ?></p></a>
		<br/>
		<p style="color:#F00; text-align:center">Giá:<span style="font-weight:bold">1000000000VND</span></p>
		<div class="dathang"><a href=""><p style="color:#FFF; font-weight:bold">Thêm Vào Giỏ Hàng</p></a></div>
	</div>
	</div>
	
	
	
</div>
