<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
#form-wrapper
{ 
    width: 700px;
    height: 500px;
    padding: 20px;    
    position: relative;
    border: 1px solid #0000; 
    background-color: #fff;
    background-image: repeating-linear-gradient(135deg,red,red,
                                                            #fff 50px, #fff 150px,
                                                            #f93 100px, #f93,
                                                            #fff 200px, #fff 300px);                                                
}

#form-wrapper:before, #form-wrapper:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;  

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}


#form-wrapper form
{
    background: #fff;
    height: 500px;
}

#form-wrapper #form-inner
{
    margin: 0 auto;
    padding: 35px ;
    width: 545px;
}
    
#form-wrapper label
{
    font: bold 18px/25px Corbel, Arial, Helvetica; 
    
    float: left; 
    margin-right: 10px; 
    width: 120px; 
}

#form-wrapper .input
{
    font: 15px Arial, Helvetica; 
    padding: 5px;
    margin: 0 0 20px 0;
    border: 1px solid #b9bdc1; 
    width: 400px; 
    color: #000000;   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
}

#form-wrapper .input:focus
{
    background-color: #E7E8E7;
    outline: 0;
}

#form-wrapper .textarea
{
    height:150px;   
}

#form-wrapper .button
{
    float: right;
    margin: 10px 0 0 0;
    padding: 7px 15px;
    cursor: pointer;   
    color: #fff;
    font: bold 13px Tahoma, Verdana, Arial;
    text-transform: uppercase;
    overflow: visible; /* IE6/7 fix */
    border: 0;      

    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    
}

#form-wrapper .button:hover
{
    background-color: #F7AE3F;
    
}

#form-wrapper .button:active
{
    background: #f93;
    position: relative;
    top: 2px;
    
}
.button {
    width: 23%;
    text-align: center;
    float: right;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
    background-color: #f93;
    margin-bottom: 20px;
  
}


    </style>

<body >

<div id="form-wrapper" class="lienhe" style="margin-left: 300px;">
    <form method="post" action="">
        <div id="form-inner">

            <label for="name">Name:</label>
            <input type="text" class="input" value="<?php # ?>" name="name" placeholder="Name" required> <!-- isset; xuất fullname khách hàng-->
        
            <label for="email">Email:</label>
            <input type="email" class="input" value="<?php #?>" name="email" placeholder="abc@gmail.com" required><!-- isset; xuất email khách hàng-->
        
            <label for="message">Message:</label>
            <textarea class="input textarea" name="message" placeholder="Lời nhắn..." required></textarea>  
            <label for="message"></label>
            <?php # ?> <!-- xuất capcha mới -->

             <label for="captcha">Nhập mã captcha:</label>
            <input type="text" class="input" name="captcha" placeholder="Nhập mã captcha">
             <input type="submit" class="button" value="Gửi">

        </div>
    </form>
</div>
</body>
</html>