<style type="text/css">
	.tin{width: 1200px; padding-left: 50px;}
	.anh{float: left;width: 300px}
	.tieude{height: 100px;width: 500px;padding-left: 50px;font-size: 18px}
	.tieude1{color: black ;font-weight: bold;}
	.bai1
	{
		text-align: center;
		width: 900px;
		height: 300px;
	}
</style>
 
<!-- <?php 
	foreach ($arr_news as $value) {
		?> -->

 
<div class="tin">
	 <a href="tin-tuc-<?php # ?><!-- xuất tiêu đề tin tức -->-<?php #?>.html"> <!-- xuất mã tin tức -->
	 <table>
	 <tr class="bai1" align="center">
		 <td class="anh">
		 	<img src="<?php #?>" style="width:296px; height:296px" > <!-- xuất hình ảnh -->
		 </td>
		 <td class="tieude" align="center">
			<p class="tieude1"><?php #?></p> <!-- xuất tiêu đề -->
			<br>
			<p>Đăng ngày: <?php # ?></p> <!-- xuất ngày đăng -->
		 </td>
	</tr>
	 </table>

</a>
<hr style="clear:both">
</div>

 
<div class="tin">
	 <a href="tin-tuc-<?php # ?><!-- xuất tiêu đề tin tức -->-<?php #?>.html"> <!-- xuất mã tin tức -->
	 <table>
	 <tr class="bai1" align="center">
		 <td class="anh">
		 	<img src="<?php #?>" style="width:296px; height:296px" > <!-- xuất hình ảnh -->
		 </td>
		 <td class="tieude" align="center">
			<p class="tieude1"><?php #?></p> <!-- xuất tiêu đề -->
			<br>
			<p>Đăng ngày: <?php # ?></p> <!-- xuất ngày đăng -->
		 </td>
	</tr>
	 </table>

</a>
<hr style="clear:both">
</div>

 
<div class="tin">
	 <a href="tin-tuc-<?php # ?><!-- xuất tiêu đề tin tức -->-<?php #?>.html"> <!-- xuất mã tin tức -->
	 <table>
	 <tr class="bai1" align="center">
		 <td class="anh">
		 	<img src="<?php #?>" style="width:296px; height:296px" > <!-- xuất hình ảnh -->
		 </td>
		 <td class="tieude" align="center">
			<p class="tieude1"><?php #?></p> <!-- xuất tiêu đề -->
			<br>
			<p>Đăng ngày: <?php # ?></p> <!-- xuất ngày đăng -->
		 </td>
	</tr>
	 </table>

</a>
<hr style="clear:both">
</div>

<!-- <?php } ?> -->

<!-- <?php
for ($i=1; $i<=$num_page ; $i++) { 
		if($i!=1)
		{
     ?> -->
	<div style="clear:both;float:right;margin-right:50px" >
	<a class="page" href="index.php?controller=list_sp&p=<?php # ?> <!-- xuất $i --> "><?php echo $i; ?><!-- xuất $i --> </a>
	</div>

<!-- <?php }} ?> -->