<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/jquery.simplyscroll.css" media="all" type="text/css">
    <link rel="shorcut icon" type="image/x-ico" href="phpThumb_generated_thumbnailico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
    <Style>
        body{
            margin: 0;
            padding: 0;
            width: 100vw;
        }
    </Style>
</head>

<body class="" style="margin:0 auto;">

    {{>header}}
    
    <div class="position:top:60px">
        {{{body}}}
    </div>
    



    {{>footer}}
   
    

    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"><{{!}}/script>
    <script type="text/javascript" src="/js/jquery.simplyscroll.js"><{{!}}/script>
    <script type="text/javascript" src="/js/jquery.cycle.all.js"><{{!}}/script>
    <script language="javascript" src="{{scripts.script}}"></script>
    
    
</body>

</html>